{ "presets": [ ["@babel/preset-env",{ "targets":{ "node":"current" } }], "@babel/preset-react" ] }


// {
//     "preset":[
//         "@babel/preset-env",
//         "@babel/preset-react"
//     ]
// }